body{
	background-color: #EAF3EF;
}
#titulo {
	 font-family: "Times New Roman", Times, serif;
	 font-size: 20px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

#p1{
	background-color: white;
	border-style: solid;
	border-radius: 5px;
	border-width: 0.7px;
	border-color: #A4BFC8;
	margin: 5px;
	height: 400px;
}
